<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="modal-content" style="max-width: 350px; margin: 100px auto;">
        <h2 style="color: #2f3640;">Login</h2>

        <input id="user" placeholder="Usuário" style="margin-bottom: 10px;">
        <input id="pass" type="password" placeholder="Senha" style="margin-bottom: 20px;">

        <button onclick="login()" class="btn-add">Entrar</button>

        <p id="msg" style="margin-top: 15px; color: #e84118; font-weight: bold;"></p>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>